.body {
    margin: 0;
    padding: 0;
}

#page-top {
    margin: 25px;
}

.col-sm-4, .col-sm-8 {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-html5 {
    font-size: 50px;
}

.left-image {
    display: flex;
    object-fit: cover;
    border-radius: 25px;
}

.description {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    transform: none;
}

.social {
    height: 80px;
    width: 100%;
    border: 1px color bisque;
    align-items: center;
}

.hero {
    align-items: center;
    text-align: center;
}

.portrait {
    width: 150px;
    height: 150px;
}

.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    --bs-nav-link-color: rgb(202, 218, 234) !important;
}

.bold {
    font-weight: bolder;
}

.smbtn {
    width: 40%;
}

.img-fluid {
    margin-top: 50px;
}

.hover:hover {
    box-shadow: 5px 5px rgb(44, 44, 47);
}

@media only screen and (max-width: 800px) {
    .aboutme {
        display: block;
    }
    #about {
        padding-bottom: 100px;
    }
  }

